{% extends 'base.html' %}

{% block content %}
<h1>Product Entry</h1>
<form action="add" class="w-100 float-right">
    <input type="submit" value="+ New Entry" class="my-4">
</form>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Party</th>
            <th>Description</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in object_list %}

        <tr>
            <td><a href="{{ entry.id }}">{{ entry.id }}</a></td>
            <td>{{ entry.date }}</td>
            <td>{{ entry.party }}</td>
            <td>{{ entry.description }}</td>
            <td>{{ entry.debit }}</td>
            <td>{{ entry.credit }}</td>
            <td>{{ entry.balance }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock content %}